
div.error_logs textarea,
div.error_logs div {
	border: 1px solid #888888;
	border-radius: 5px;
	margin: 0 6px;
	padding: 3px;
	resize: none;
	width: auto;
	left: 3px;
	right: 3px;
	bottom: 60px;
	top: 50px;
	position: absolute;
	background: #ffffff;
	font-family: monospace;
	overflow: scroll;
}
div.error_logs p {
	position: absolute;
	bottom: 0;
	width: 450px;
	margin-left: 25px;
	text-align: center;
	padding: 0;
}

div.error_logs button {
	width: 175px;
	height: 40px;
	display: block;
	float: left;
	margin-left: 50px;
}

